****************WeDocs******************** .wedocs-main .page-title {
    text-align: center;
}

.wedocs-shortcode-wrap ul.wedocs-docs-list>li {
    list-style: none;
}

.wedocs-main .wedocs-docs-list a {
    color: #666;
}

.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single .inside {
    height: 214px;
    overflow: hidden;
}

.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single .inside:hover {
    overflow-y: scroll;
}

.wedocs-main .wedocs-search-widget {
    box-shadow: none;
    padding: 0;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 30px;
}

.wedocs-main .wedocs-search-widget .wedocs-search-form {
    position: relative;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.wedocs-main .wedocs-search-input {
    padding-left: 200px;
}

.wedocs-main input.search-field {
    padding: 12px 80px 12px 20px;
    width: 100%;
    border: none;
}

.wedocs-main .wedocs-search-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid #E5E5E5;
    height: 38px;
    line-height: 38px;
    background: #fff;
}

.wedocs-main .wedocs-search-in #search_in_doc {
    width: 100%;
    padding: 8px 15px;
    border: 0;
}

.wedocs-main .search-form input.search-submit {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 80px;
    font-size: 14px;
    height: 40px;
    background: #09B1B9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.wedocs-main .search-form input.search-submit:hover {
    background: #8463A9;
}

@media screen and (max-width:640px) {
    .wedocs-main .wedocs-search-in {
        position: relative;
        width: auto;
        border: none;
    }
    .wedocs-main .wedocs-doc-sections {
        height: auto;
        overflow-y: visible;
    }
    .wedocs-main .wedocs-search-widget .search-form {
        border: none;
    }
    .wedocs-main .wedocs-search-widget .wedocs-search-input {
        border: 1px solid #e1e1e1;
        padding: 0;
    }
    .wedocs-main .wedocs-search-widget .search-form input.search-field {
        padding: 10px;
    }
    .wedocs-main .wedocs-search-widget #search_in_doc {
        width: 100%;
        margin-top: 8px;
        border: 1px solid #e1e1e1;
        padding: 8px;
    }
    .wedocs-main .search-form input.search-submit {
        position: relative;
        top: 10px;
        right: 0;
        width: 100%;
        margin: 10px 0;
    }
    .row-fluid .wedocs-hide-mobile {
        display: none;
    }
}

.wedocs-single-wrap .wedocs-sidebar {
    width: 31.914893617021278%;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list {
    margin: 0;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list li {
    padding: 0 0 0 8px;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list li:before {
    top: 1px;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li>a:before {
    display: none;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list li a {
    padding: 6px 0 6px 6px;
    line-height: 1.5;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list li ul.children {
    border-left: none;
    margin: 4px 0 4px 4px;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_parent>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_item>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_ancestor>a {
    background: #EDEDED;
    color: #333;
}

.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_parent li.current_page_item>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_item li.current_page_item>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_ancestor li.current_page_item>a {
    border-left: none;
    color: #333;
    font-weight: bold;
}

.wedocs-single-wrap .wedocs-single-content article a.wedocs-print-article {
    top: 25px;
    right: 20px;
}

.wedocs-single-wrap .wedocs-single-content article footer.entry-footer.wedocs-entry-footer {
    margin-top: 30px;
}

.wedocs-single-content .wedocs-feedback-wrap {
    border-top: 1px solid #eee;
}

.wedocs-single-content .wedocs-feedback-wrap a.positive {
    background: #09B1B9;
    border: 1px solid #09B1B9;
    margin-right: 10px;
    color: #fff;
}

.wedocs-single-content .wedocs-feedback-wrap a.negative {
    background: #E14D43;
    border: 1px solid #E14D43;
    color: #fff;
}

.wedocs-single-content .wedocs-feedback-wrap a.positive:hover,
.wedocs-single-content .wedocs-feedback-wrap a.negative:hover {
    background-color: #8463A9;
    border: 1px solid #8463A9;
}

.wedocs-single-content .wedocs-doc-nav {
    padding: 8px 0 0;
    margin: 20px 0 0 0;
    border-bottom: none;
}

.wedocs-doc-nav .nav-prev {
    float: left;
    width: 50%;
}

.wedocs-doc-nav .nav-prev a {
    padding: 10px;
    width: 98%;
    display: block;
}

.wedocs-doc-nav .nav-next {
    float: right;
    width: 50%;
    text-align: right;
}

.wedocs-doc-nav .nav-next a {
    padding: 10px;
    width: 98%;
    display: block;
    float: right;
}

.wedocs-sidebar .wedocs-search-widget .widget-content {
    padding: 20px 15px;
}

.wedocs-sidebar .wedocs-search-widget .search-form {
    border: none;
}

.wedocs-sidebar .wedocs-search-widget .wedocs-search-input {
    border: 1px solid #e1e1e1;
}

.wedocs-sidebar .search-form input.search-field {
    padding: 8px 10px;
    width: 100%;
    border: none;
}

.wedocs-sidebar .wedocs-search-widget #search_in_doc {
    width: 100%;
    margin-top: 8px;
    border: 1px solid #e1e1e1;
    padding: 8px;
}

.wedocs-sidebar .search-form input.search-submit {
    position: relative;
    top: 10px;
    right: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background: #09B1B9;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.wedocs-sidebar .search-form input.search-submit:hover {
    background: #8463A9;
}

.wedocs-single-wrap .wedocs-single-content {
    width: 100%;
    border-left: 1px solid #E1E1E1;
    padding-left: 0;
}